@import "./src/assets/style/variables.scss";

.headerPetList {
  &__container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 1rem 0;
    padding: 0.5rem;

    h4 {
      font-size: 1.2rem;
      font-weight: 600;
      margin: 1rem 0;
    }

    .filterList {
      &__container {
        display: flex;
        flex-direction: column;
        width: 150px;
        @media only screen and (min-width: 470px) {
          align-items: flex-end;
        }

        div {
          margin: 0;
          height: $header_inputs_height;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
        }
      }
    }
  }
}