@import './src/style/mixins.scss';

$petInfo_height: 200px;

.petInfo {
  &__container {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    padding: 4px 42px 4px 4px;
    border: 1px solid black;
    margin-top: 0.5rem;

    img {
      width: 100%;

      @media only screen and (min-width: 570px) {
        height: $petInfo_height;
        width: auto;
        max-width: 300px;
        width: 50%;
      }
    }

    .petData {
      &__box {
        display: flex;
        flex-direction: column;
        padding: 0.5rem 1rem;
        row-gap: 0.3rem;
        font-size: 1.1rem;
        min-height: $petInfo_height;
        max-width: 50%;

        div {
          margin-top: auto;
        }

        ul {
         @include commonUl;
        }
      }

    }

    .btn--del {
      position: absolute;
      padding: 6px;
      min-width: 25px;
      top: 5px;
      right: 4px;
    }
  }
}